[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
pillow = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
